* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.kts text eol=lf
*.kt text eol=lf
*.xml text eol=lf
*.java text eol=lf
*.po text eol=lf
*.pot text eol=lf
*.nft text eol=lf
*.uc text eol=lf
*.defaults text eol=lf
*.properties text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.jar binary

package/luci-app-sheepfold-family-internet-control/root/etc/config/* text eol=lf
package/luci-app-sheepfold-family-internet-control/root/etc/hotplug.d/* text eol=lf
package/luci-app-sheepfold-family-internet-control/root/etc/init.d/* text eol=lf
package/luci-app-sheepfold-family-internet-control/root/lib/upgrade/keep.d/* text eol=lf
package/luci-app-sheepfold-family-internet-control/root/usr/libexec/sheepfold/* text eol=lf
package/luci-app-sheepfold-family-internet-control/root/www/cgi-bin/* text eol=lf
